@using ProvaCandidato.Application.ApiProvaCandidato.Cidade.Models;

@model CidadeModel

@{
    ViewBag.Title = "Alterar Cidade";
}

<div id="modalAlterar" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Cidade</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="divAlertas"></div>

            <div class="modal-body">
                <form>
                    <input type="hidden" class="form-control" id="txtCodigo" aria-describedby="nomeHelp" value="@Model.Codigo">

                    <label for="txtNome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="txtNome" aria-describedby="nomeHelp" value="@Model.Nome">
                    <div id="nomeHelp" class="form-text">Tamanho entre 3 e 50 caracteres</div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                <button type="button" class="btn btn-primary" onclick="Alterar();">Alterar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Alterar() {
        const codigo = $("#txtCodigo").val();
        const nome = $("#txtNome").val();

        if (!nome) {
            return alert("Por favor informe o nome da cidade.");
        }

        if (nome.trim().length < 3) {
            return alert("Por favor informe o nome da cidade, com mais de 3 caracteres.");
        }

        if (nome.trim().length > 50) {
            return alert("Por favor informe o nome da cidade, com menos de 50 caracteres.");
        }

        $.ajax({
            method: "POST",
            url: `/Cidade/Put`,
            data: {
                Codigo: codigo,
                Nome: nome
            },
        })
            .done((data) => $("html").html(data))
            .fail((xhr) => Alert.html(xhr.responseText));
    }

    $(document).ready(function () {
        var ModalAlterar = new bootstrap.Modal($('#modalAlterar'), {
            keyboard: false
        })

        ModalAlterar.show();
    })
</script>
